/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
pass.txt
crisp.sublime-project
crisp.sublime-workspace
privatekeyccrisp.ppk
app/config/database.php
public_html/index.php