@charset "UTF-8";
html {
  overflow-y: scroll; }
  html body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro";
    color: #464547;
    font-size: 12pt;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed; }
    @media only screen and (max-width: 768px) {
      html body #bodyContainer {
        width: 100%;
        padding: 0px; } }
    html body .group:after {
      content: "";
      display: table;
      clear: both; }
    html body .col-centered {
      float: none;
      margin-left: auto;
      margin-right: auto; }
    html body .be {
      width: 34px;
      height: 34px;
      transition: opacity 0.2s ease-in-out;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/be.png");
      display: inline-block;
      margin-top: 160px;
      margin-right: 10px;
      cursor: pointer;
      margin-left: 10px; }
      html body .be:hover {
        opacity: 0.8; }
    html body.portfolio {
      min-height: 48px;
      height: 48px; }
    html body a.navbar-brand {
      background-image: url("../img/crisp_logo.png");
      background-repeat: no-repeat;
      background-size: contain; }
    html body .navbar-default {
      background-color: transparent;
      border: none;
      margin-top: 50px;
      margin-bottom: 50px; }
      html body .navbar-default .navbar-header button {
        margin-right: 0px; }
      html body .navbar-default .navbar-nav li:active a {
        background-color: transparent; }
      @media only screen and (max-width: 768px) {
        html body .navbar-default .navbar-nav li {
          text-align: right; }
          html body .navbar-default .navbar-nav li a {
            padding-right: 0px;
            margin-right: 0px;
            font-size: 1.35em; } }
      html body .navbar-default .container-fluid {
        padding-left: 0px;
        padding-right: 0px; }
    html body .navbar {
      width: 90%; }
      html body .navbar ul {
        padding: 0;
        margin: 0; }
        html body .navbar ul li {
          margin: 0;
          padding: 0;
          color: #000; }
          html body .navbar ul li a {
            transition: all 0.2s ease-in-out;
            line-height: 50px;
            padding-top: 0px;
            padding-bottom: 0px;
            color: #464547;
            text-decoration: none;
            font-weight: 300;
            padding-left: 30px;
            padding-right: 30px; }
            html body .navbar ul li a:hover {
              background-color: transparent;
              opacity: 0.4;
              color: #000; }
    html body section.content {
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      font-weight: 300;
      line-height: 1;
      padding-top: 40px; }
      html body section.content h1 {
        text-transform: uppercase;
        font-size: 3.7em; }
        @media only screen and (min-width: 1601px) {
          html body section.content h1 {
            font-size: 4.5em; } }
      html body section.content div.huge {
        font-size: 7em;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto; }
        @media only screen and (min-width: 1601px) {
          html body section.content div.huge {
            font-size: 8em; } }
      html body section.content .big {
        font-size: 1.2em; }
      html body section.content article.text {
        margin-top: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 40px;
        text-align: justify; }
        html body section.content article.text p {
          font-size: 1.6em;
          line-height: 1.3;
          font-weight: 400;
          text-indent: 40px;
          margin: 0px; }
          html body section.content article.text p:first-of-type {
            text-indent: 0px; }
      html body section.content .about {
        text-align: center; }
        html body section.content .about.persons {
          padding-right: 50px;
          padding-left: 50px; }
          html body section.content .about.persons a {
            color: #464547; }
        html body section.content .about .person {
          margin-bottom: 20px; }
        html body section.content .about .person-foto {
          height: 150px;
          width: 150px;
          border-radius: 150px;
          border: solid 1px #464547;
          margin: 20px;
          display: inline-block; }
        html body section.content .about .person-info {
          text-align: center; }
          html body section.content .about .person-info.person-name {
            font-weight: 400;
            text-transform: uppercase; }
          html body section.content .about .person-info.preson-desc {
            letter-spacing: 0.75px; }
      html body section.content a.kontakt {
        text-decoration: none;
        color: #464547;
        transition: opacity 0.2s ease-in-out; }
        html body section.content a.kontakt:hover {
          opacity: 0.6; }
      html body section.content .bold {
        font-weight: 600; }
    html body .bgDesc {
      position: absolute;
      bottom: 0px;
      right: 0px;
      font-size: 9pt;
      opacity: 0.3;
      text-align: right; }

/*
ehk l├ñ├ñ-heb vaja
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
 */
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-ExtraLight.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-ExtraLight.otf.woff") format("woff"), url("OTF/SourceSansPro-ExtraLight.otf") format("opentype"), url("TTF/SourceSansPro-ExtraLight.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-ExtraLightIt.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff") format("woff"), url("OTF/SourceSansPro-ExtraLightIt.otf") format("opentype"), url("TTF/SourceSansPro-ExtraLightIt.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-Light.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-Light.otf.woff") format("woff"), url("OTF/SourceSansPro-Light.otf") format("opentype"), url("TTF/SourceSansPro-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-LightIt.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-LightIt.otf.woff") format("woff"), url("OTF/SourceSansPro-LightIt.otf") format("opentype"), url("TTF/SourceSansPro-LightIt.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-Regular.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-Regular.otf.woff") format("woff"), url("OTF/SourceSansPro-Regular.otf") format("opentype"), url("TTF/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-It.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-It.otf.woff") format("woff"), url("OTF/SourceSansPro-It.otf") format("opentype"), url("TTF/SourceSansPro-It.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-Semibold.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-Semibold.otf.woff") format("woff"), url("OTF/SourceSansPro-Semibold.otf") format("opentype"), url("TTF/SourceSansPro-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-SemiboldIt.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff") format("woff"), url("OTF/SourceSansPro-SemiboldIt.otf") format("opentype"), url("TTF/SourceSansPro-SemiboldIt.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-Bold.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-Bold.otf.woff") format("woff"), url("OTF/SourceSansPro-Bold.otf") format("opentype"), url("TTF/SourceSansPro-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-BoldIt.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-BoldIt.otf.woff") format("woff"), url("OTF/SourceSansPro-BoldIt.otf") format("opentype"), url("TTF/SourceSansPro-BoldIt.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-Black.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-Black.otf.woff") format("woff"), url("OTF/SourceSansPro-Black.otf") format("opentype"), url("TTF/SourceSansPro-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url("EOT/SourceSansPro-BlackIt.eot") format("embedded-opentype"), url("WOFF/OTF/SourceSansPro-BlackIt.otf.woff") format("woff"), url("OTF/SourceSansPro-BlackIt.otf") format("opentype"), url("TTF/SourceSansPro-BlackIt.ttf") format("truetype"); }
div.portfolio {
  width: 100%;
  height: auto;
  border-bottom: solid 2px rgba(255, 255, 255, 0.3); }
  div.portfolio .el {
    opacity: 0.6;
    height: 270px;
    border-top: solid 2px rgba(255, 255, 255, 0.3);
    border-right: solid 2px rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    position: relative; }
    div.portfolio .el.pic {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
      div.portfolio .el.pic .hoverpic {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        z-index: 0; }
      div.portfolio .el.pic:hover .hoverpic, div.portfolio .el.pic.hovered .hoverpic {
        opacity: 1;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out; }
      div.portfolio .el.pic .text {
        position: absolute;
        bottom: 0%;
        left: 0;
        top: 60%;
        margin-left: 0;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 0px;
        padding-right: 0px;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        z-index: 1;
        color: white; }
    div.portfolio .el:hover, div.portfolio .el.hovered {
      opacity: 1; }
      div.portfolio .el:hover .logo, div.portfolio .el.hovered .logo {
        opacity: 1; }
      div.portfolio .el:hover .text, div.portfolio .el.hovered .text {
        opacity: 1; }
    div.portfolio .el .text {
      position: absolute;
      opacity: 0;
      bottom: 0%;
      left: 0;
      top: 60%;
      margin-left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      padding-top: 5%;
      padding-bottom: 5%;
      padding-left: 0px;
      padding-right: 0px;
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -ms-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out;
      z-index: 1;
      color: white; }
      div.portfolio .el .text h1 {
        padding: 0;
        margin: 0;
        margin-top: 10px;
        font-weight: 600;
        font-size: 1.4em;
        line-height: 1; }
      div.portfolio .el .text .desc {
        display: inline-block;
        position: relative;
        padding-top: 0px;
        margin-top: 5px;
        font-size: 10pt;
        font-weight: 300;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding-right: 20px;
        padding-left: 20px; }
    div.portfolio .el.fb {
      text-align: center;
      cursor: default;
      position: relative; }
      div.portfolio .el.fb p {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        top: 100px;
        left: 50%;
        margin-left: -50%;
        position: absolute; }
      div.portfolio .el.fb .face {
        width: 34px;
        background-image: url("../img/f.png");
        height: 34px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        margin-top: 160px;
        margin-right: 10px;
        cursor: pointer;
        margin-left: 10px; }
        div.portfolio .el.fb .face:hover {
          opacity: 0.8; }

.portfolio-single #artworks {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 768px) {
    .portfolio-single #artworks {
      width: 100%;
      padding: 0px; } }
  .portfolio-single #artworks ul#arworks-ul li {
    display: none; }
  .portfolio-single #artworks ul.images-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none; }
    .portfolio-single #artworks ul.images-ul li {
      margin: 0;
      padding: 0;
      display: inline-block; }
      .portfolio-single #artworks ul.images-ul li a {
        display: block;
        height: 7px;
        width: 7px;
        background-color: #464547;
        border: solid 1px #464547;
        outline: none; }
        @media only screen and (max-width: 991px) {
          .portfolio-single #artworks ul.images-ul li a {
            height: 15px;
            width: 15px; } }
      .portfolio-single #artworks ul.images-ul li.ui-tabs-active a {
        background-color: transparent; }
.portfolio-single #next {
  right: -5%;
  top: 25%;
  margin-top: 78.5px;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.portfolio-single #prev {
  left: -5%;
  top: 25%;
  margin-top: 78.5px; }
.portfolio-single #next, .portfolio-single #prev {
  height: 23px;
  width: 15px;
  background-image: url("../img/nool.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  cursor: pointer; }
  .portfolio-single #next:hover, .portfolio-single #prev:hover {
    opacity: 0.6; }
  @media only screen and (max-width: 991px) {
    .portfolio-single #next, .portfolio-single #prev {
      height: 15px;
      width: 15px; } }
  @media only screen and (max-width: 768px) {
    .portfolio-single #next, .portfolio-single #prev {
      display: none; } }
.portfolio-single .portfolio-sidebar {
  background-color: transparent;
  padding-top: 3%;
  padding-bottom: 3%; }
.portfolio-single .portfolio-sidebar, .portfolio-single .portfolio-image {
  padding-left: 3%;
  padding-right: 3%; }
  @media only screen and (max-width: 991px) {
    .portfolio-single .portfolio-sidebar, .portfolio-single .portfolio-image {
      margin-top: 10px; } }
  @media only screen and (max-width: 768px) {
    .portfolio-single .portfolio-sidebar, .portfolio-single .portfolio-image {
      width: 100%;
      padding: 0px; } }
  .portfolio-single .portfolio-sidebar header, .portfolio-single .portfolio-image header {
    border-bottom: 1px solid rgba(70, 69, 71, 0.6);
    padding-bottom: 5%;
    margin-bottom: 5%; }
    .portfolio-single .portfolio-sidebar header p.type, .portfolio-single .portfolio-image header p.type {
      font-size: 18pt;
      font-weight: 400;
      margin-bottom: 0px;
      text-transform: capitalize; }
    .portfolio-single .portfolio-sidebar header p.work, .portfolio-single .portfolio-image header p.work {
      font-size: 18pt;
      margin: 0px;
      text-transform: capitalize; }
    .portfolio-single .portfolio-sidebar header p.client, .portfolio-single .portfolio-image header p.client {
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: .05em;
      padding-top: 10px; }
    @media only screen and (max-width: 768px) {
      .portfolio-single .portfolio-sidebar header, .portfolio-single .portfolio-image header {
        padding-right: 5%;
        padding-left: 5%; } }
  .portfolio-single .portfolio-sidebar p.desc, .portfolio-single .portfolio-image p.desc {
    line-height: 1.5; }
    @media only screen and (max-width: 768px) {
      .portfolio-single .portfolio-sidebar p.desc, .portfolio-single .portfolio-image p.desc {
        padding-right: 5%;
        padding-left: 5%; } }
.portfolio-single .portfolio-image {
  text-align: center;
  background-position: center top;
  background-repeat: no-repeat; }
  .portfolio-single .portfolio-image .single-image {
    width: 70%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top; }
    @media only screen and (max-width: 768px) {
      .portfolio-single .portfolio-image .single-image {
        width: 100%;
        height: auto;
        padding: 0px; } }
